<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_retry</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aa63ab">  <td>24/05/07 07:19:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_Test_scripts.validate_patch()[pri:0, instance:testscripts.Patch_Test_scripts@4e5ed836]">validate_patch</td> 
  <td>TestNG-test=Test_retry-4@412925308</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/07 07:19:19</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_Testscripts.validatepost()[pri:0, instance:testscripts.Post_Testscripts@2ab4bc72]">validatepost</td> 
  <td>TestNG-test=Test_retry-3@644082020</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/07 07:19:19</td>   <td>-88</td> <td>&nbsp;</td><td title="&gt;&gt;Put_Test_scripts.setup()[pri:0, instance:testscripts.Put_Test_scripts@4007f65e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2100440237</td>   <td></td> </tr>
<tr bgcolor="6fbf7f">  <td>24/05/07 07:19:19</td>   <td>-123</td> <td>&nbsp;</td><td title="&gt;&gt;Delete_Test_scripts.setup()[pri:0, instance:testscripts.Delete_Test_scripts@eadd4fb]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2100440237</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/07 07:19:28</td>   <td>8946</td> <td>&nbsp;</td><td title="&lt;&lt;Put_Test_scripts.teardown()[pri:0, instance:testscripts.Put_Test_scripts@4007f65e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2100440237</td>   <td></td> </tr>
<tr bgcolor="63b9fe">  <td>24/05/07 07:19:28</td>   <td>8937</td> <td>&nbsp;</td><td title="&lt;&lt;Get_Test_scripts.teardown()[pri:0, instance:testscripts.Get_Test_scripts@3de8f619]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2100440237</td>   <td></td> </tr>
<tr bgcolor="aa63ab">  <td>24/05/07 07:19:19</td>   <td>-94</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_Test_scripts.setup()[pri:0, instance:testscripts.Patch_Test_scripts@4e5ed836]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2100440237</td>   <td></td> </tr>
<tr bgcolor="63b9fe">  <td>24/05/07 07:19:19</td>   <td>-98</td> <td>&nbsp;</td><td title="&gt;&gt;Get_Test_scripts.setup()[pri:0, instance:testscripts.Get_Test_scripts@3de8f619]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2100440237</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/07 07:19:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_Test_scripts.validate_Put()[pri:0, instance:testscripts.Put_Test_scripts@4007f65e]">validate_Put</td> 
  <td>TestNG-test=Test_retry-1@2084559714</td>   <td></td> </tr>
<tr bgcolor="6fbf7f">  <td>24/05/07 07:19:19</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_Test_scripts.validate_delete()[pri:0, instance:testscripts.Delete_Test_scripts@eadd4fb]">validate_delete</td> 
  <td>TestNG-test=Test_retry-5@1122130699</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/07 07:19:28</td>   <td>8944</td> <td>&nbsp;</td><td title="&lt;&lt;Post_Testscripts.teardown()[pri:0, instance:testscripts.Post_Testscripts@2ab4bc72]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2100440237</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/07 07:19:19</td>   <td>-92</td> <td>&nbsp;</td><td title="&gt;&gt;Post_Testscripts.setup()[pri:0, instance:testscripts.Post_Testscripts@2ab4bc72]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2100440237</td>   <td></td> </tr>
<tr bgcolor="aa63ab">  <td>24/05/07 07:19:28</td>   <td>8940</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_Test_scripts.teardown()[pri:0, instance:testscripts.Patch_Test_scripts@4e5ed836]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2100440237</td>   <td></td> </tr>
<tr bgcolor="6fbf7f">  <td>24/05/07 07:19:28</td>   <td>8930</td> <td>&nbsp;</td><td title="&lt;&lt;Delete_Test_scripts.teardown()[pri:0, instance:testscripts.Delete_Test_scripts@eadd4fb]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2100440237</td>   <td></td> </tr>
<tr bgcolor="63b9fe">  <td>24/05/07 07:19:19</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_Test_scripts.validate_get()[pri:0, instance:testscripts.Get_Test_scripts@3de8f619]">validate_get</td> 
  <td>TestNG-test=Test_retry-2@1842853283</td>   <td></td> </tr>
</table>
