<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_mock3</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8174ba">  <td>24/05/12 13:53:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="postscript.postvalidate()[pri:0, instance:testscript.postscript@44ebcd03]">postvalidate</td> 
  <td>TestNG-test=Test_mock3-2@522553046</td>   <td></td> </tr>
<tr bgcolor="72f59f">  <td>24/05/12 13:53:36</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="postscript2_mock.postvalidate()[pri:0, instance:testscript.postscript2_mock@71809907]">postvalidate</td> 
  <td>TestNG-test=Test_mock3-1@231756373</td>   <td></td> </tr>
</table>
