<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_practice</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="717375">  <td>24/05/11 20:47:38</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;Post_Testscripts.teardown()[pri:0, instance:testscripts.Post_Testscripts@71075444]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@757708014</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/11 20:47:32</td>   <td>-6130</td> <td>&nbsp;</td><td title="&gt;&gt;Post_Testscripts.setup()[pri:0, instance:testscripts.Post_Testscripts@71075444]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@757708014</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/11 20:47:32</td>   <td>-6067</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_Testscripts.validatepost()[pri:0, instance:testscripts.Post_Testscripts@71075444]">validatepost</td> 
  <td>main@757708014</td>   <td></td> </tr>
</table>
