<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_dataprovider</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="717375">  <td>24/05/12 19:17:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_Testscripts_dataprovider.validatepost(java.lang.String,java.lang.String)[pri:0, instance:testscripts.Post_Testscripts_dataprovider@43f02ef2]">validatepost</td> 
  <td>main@2100440237</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/12 19:17:43</td>   <td>-4199</td> <td>&nbsp;</td><td title="&gt;&gt;Post_Testscripts_dataprovider.setup()[pri:0, instance:testscripts.Post_Testscripts_dataprovider@43f02ef2]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2100440237</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/12 19:17:48</td>   <td>713</td> <td>&nbsp;</td><td title="&lt;&lt;Post_Testscripts_dataprovider.teardown()[pri:0, instance:testscripts.Post_Testscripts_dataprovider@43f02ef2]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2100440237</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/12 19:17:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_Testscripts_dataprovider.validatepost(java.lang.String,java.lang.String)[pri:0, instance:testscripts.Post_Testscripts_dataprovider@43f02ef2]">validatepost</td> 
  <td>main@2100440237</td>   <td></td> </tr>
</table>
