<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_priority</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="717375">  <td>24/05/13 20:13:30</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Post_Testscripts_datadriven2_priority.setup()[pri:0, instance:testscripts.Post_Testscripts_datadriven2_priority@5c80cf32]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@159475521</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/13 20:13:30</td>   <td>392</td> <td>&nbsp;</td><td title="&lt;&lt;Post_Testscripts_datadriven2_priority.teardown()[pri:0, instance:testscripts.Post_Testscripts_datadriven2_priority@5c80cf32]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@159475521</td>   <td></td> </tr>
</table>
