<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Series_runner_suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="71f9e9">  <td>24/05/06 23:14:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_Test_scripts.execute()[pri:0, instance:testscripts.Delete_Test_scripts@2de56eb2]">execute</td> 
  <td>main@40191541</td>   <td></td> </tr>
<tr bgcolor="64f478">  <td>24/05/06 23:14:35</td>   <td>-6780</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_Test_scripts.setup()[pri:0, instance:testscripts.Patch_Test_scripts@6f204a1a]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@40191541</td>   <td></td> </tr>
<tr bgcolor="ce7389">  <td>24/05/06 23:14:39</td>   <td>-2233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_Test_scripts.validate()[pri:0, instance:testscripts.Get_Test_scripts@239a307b]">validate</td> 
  <td>main@40191541</td>   <td></td> </tr>
<tr bgcolor="64f478">  <td>24/05/06 23:14:42</td>   <td>457</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_Test_scripts.teardown()[pri:0, instance:testscripts.Patch_Test_scripts@6f204a1a]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@40191541</td>   <td></td> </tr>
<tr bgcolor="6bcf94">  <td>24/05/06 23:14:40</td>   <td>-1050</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_Testscripts.validatepost()[pri:0, instance:testscripts.Post_Testscripts@2a8448fa]">validatepost</td> 
  <td>main@40191541</td>   <td></td> </tr>
<tr bgcolor="64f478">  <td>24/05/06 23:14:41</td>   <td>-514</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_Test_scripts.validate()[pri:0, instance:testscripts.Patch_Test_scripts@6f204a1a]">validate</td> 
  <td>main@40191541</td>   <td></td> </tr>
<tr bgcolor="6bcf94">  <td>24/05/06 23:14:35</td>   <td>-6778</td> <td>&nbsp;</td><td title="&gt;&gt;Post_Testscripts.setup()[pri:0, instance:testscripts.Post_Testscripts@2a8448fa]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@40191541</td>   <td></td> </tr>
<tr bgcolor="63b786">  <td>24/05/06 23:14:35</td>   <td>-6776</td> <td>&nbsp;</td><td title="&gt;&gt;Put_Test_scripts.setup()[pri:0, instance:testscripts.Put_Test_scripts@6cb107fd]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@40191541</td>   <td></td> </tr>
<tr bgcolor="71f9e9">  <td>24/05/06 23:14:35</td>   <td>-6812</td> <td>&nbsp;</td><td title="&gt;&gt;Delete_Test_scripts.setup()[pri:0, instance:testscripts.Delete_Test_scripts@2de56eb2]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@40191541</td>   <td></td> </tr>
<tr bgcolor="6bcf94">  <td>24/05/06 23:14:42</td>   <td>459</td> <td>&nbsp;</td><td title="&lt;&lt;Post_Testscripts.teardown()[pri:0, instance:testscripts.Post_Testscripts@2a8448fa]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@40191541</td>   <td></td> </tr>
<tr bgcolor="71f9e9">  <td>24/05/06 23:14:42</td>   <td>437</td> <td>&nbsp;</td><td title="&lt;&lt;Delete_Test_scripts.teardown()[pri:0, instance:testscripts.Delete_Test_scripts@2de56eb2]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@40191541</td>   <td></td> </tr>
<tr bgcolor="ce7389">  <td>24/05/06 23:14:42</td>   <td>449</td> <td>&nbsp;</td><td title="&lt;&lt;Get_Test_scripts.teardown()[pri:0, instance:testscripts.Get_Test_scripts@239a307b]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@40191541</td>   <td></td> </tr>
<tr bgcolor="63b786">  <td>24/05/06 23:14:35</td>   <td>-6708</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_Test_scripts.validate()[pri:0, instance:testscripts.Put_Test_scripts@6cb107fd]">validate</td> 
  <td>main@40191541</td>   <td></td> </tr>
<tr bgcolor="63b786">  <td>24/05/06 23:14:42</td>   <td>462</td> <td>&nbsp;</td><td title="&lt;&lt;Put_Test_scripts.teardown()[pri:0, instance:testscripts.Put_Test_scripts@6cb107fd]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@40191541</td>   <td></td> </tr>
<tr bgcolor="ce7389">  <td>24/05/06 23:14:35</td>   <td>-6783</td> <td>&nbsp;</td><td title="&gt;&gt;Get_Test_scripts.setup()[pri:0, instance:testscripts.Get_Test_scripts@239a307b]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@40191541</td>   <td></td> </tr>
</table>
