<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_method</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="72f59f">  <td>24/05/07 15:40:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="mock2.endpoint()[pri:1, instance:grooming.mock2@dbf57b3]">endpoint</td> 
  <td>TestNG-test=Test_method-1@587153993</td>   <td></td> </tr>
<tr bgcolor="72f59f">  <td>24/05/07 15:40:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="mock2.mockapitrigger()[pri:2, instance:grooming.mock2@dbf57b3]">mockapitrigger</td> 
  <td>TestNG-test=Test_method-2@52908367</td>   <td></td> </tr>
</table>
