<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_parallel_runner</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="717375">  <td>24/05/07 15:29:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_Test_scripts.validate_Put()[pri:0, instance:testscripts.Put_Test_scripts@4007f65e]">validate_Put</td> 
  <td>TestNG-test=parallel_runner-1@306098636</td>   <td></td> </tr>
<tr bgcolor="aa63ab">  <td>24/05/07 15:29:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_Test_scripts.validate_patch()[pri:0, instance:testscripts.Patch_Test_scripts@4e5ed836]">validate_patch</td> 
  <td>TestNG-test=parallel_runner-4@1844807845</td>   <td></td> </tr>
<tr bgcolor="63b9fe">  <td>24/05/07 15:29:12</td>   <td>-103</td> <td>&nbsp;</td><td title="&gt;&gt;Get_Test_scripts.setup()[pri:0, instance:testscripts.Get_Test_scripts@3de8f619]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1848289347</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/07 15:29:12</td>   <td>-97</td> <td>&nbsp;</td><td title="&gt;&gt;Post_Testscripts.setup()[pri:0, instance:testscripts.Post_Testscripts@2ab4bc72]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1848289347</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/07 15:29:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_Testscripts.validatepost()[pri:0, instance:testscripts.Post_Testscripts@2ab4bc72]">validatepost</td> 
  <td>TestNG-test=parallel_runner-3@1453648703</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/07 15:29:12</td>   <td>-93</td> <td>&nbsp;</td><td title="&gt;&gt;Put_Test_scripts.setup()[pri:0, instance:testscripts.Put_Test_scripts@4007f65e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1848289347</td>   <td></td> </tr>
<tr bgcolor="6fbf7f">  <td>24/05/07 15:29:25</td>   <td>12467</td> <td>&nbsp;</td><td title="&lt;&lt;Delete_Test_scripts.teardown()[pri:0, instance:testscripts.Delete_Test_scripts@eadd4fb]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1848289347</td>   <td></td> </tr>
<tr bgcolor="aa63ab">  <td>24/05/07 15:29:12</td>   <td>-101</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_Test_scripts.setup()[pri:0, instance:testscripts.Patch_Test_scripts@4e5ed836]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1848289347</td>   <td></td> </tr>
<tr bgcolor="63b9fe">  <td>24/05/07 15:29:25</td>   <td>12481</td> <td>&nbsp;</td><td title="&lt;&lt;Get_Test_scripts.teardown()[pri:0, instance:testscripts.Get_Test_scripts@3de8f619]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1848289347</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/07 15:29:25</td>   <td>12579</td> <td>&nbsp;</td><td title="&lt;&lt;Put_Test_scripts.teardown()[pri:0, instance:testscripts.Put_Test_scripts@4007f65e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1848289347</td>   <td></td> </tr>
<tr bgcolor="6fbf7f">  <td>24/05/07 15:29:12</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_Test_scripts.validate_delete()[pri:0, instance:testscripts.Delete_Test_scripts@eadd4fb]">validate_delete</td> 
  <td>TestNG-test=parallel_runner-5@835161182</td>   <td></td> </tr>
<tr bgcolor="63b9fe">  <td>24/05/07 15:29:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_Test_scripts.validate_get()[pri:0, instance:testscripts.Get_Test_scripts@3de8f619]">validate_get</td> 
  <td>TestNG-test=parallel_runner-2@1146550752</td>   <td></td> </tr>
<tr bgcolor="6fbf7f">  <td>24/05/07 15:29:12</td>   <td>-134</td> <td>&nbsp;</td><td title="&gt;&gt;Delete_Test_scripts.setup()[pri:0, instance:testscripts.Delete_Test_scripts@eadd4fb]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1848289347</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/07 15:29:25</td>   <td>12564</td> <td>&nbsp;</td><td title="&lt;&lt;Post_Testscripts.teardown()[pri:0, instance:testscripts.Post_Testscripts@2ab4bc72]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1848289347</td>   <td></td> </tr>
<tr bgcolor="aa63ab">  <td>24/05/07 15:29:25</td>   <td>12555</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_Test_scripts.teardown()[pri:0, instance:testscripts.Patch_Test_scripts@4e5ed836]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1848289347</td>   <td></td> </tr>
</table>
