<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_priority2</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b6cdac">  <td>24/05/13 22:18:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_Testscripts2_priority2.validatepost()[pri:2, instance:testscripts.Post_Testscripts2_priority2@71075444]">validatepost</td> 
  <td>main@704106237</td>   <td></td> </tr>
<tr bgcolor="b6cdac">  <td>24/05/13 22:18:47</td>   <td>792</td> <td>&nbsp;</td><td title="&lt;&lt;Post_Testscripts2_priority2.teardown()[pri:0, instance:testscripts.Post_Testscripts2_priority2@71075444]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@704106237</td>   <td></td> </tr>
<tr bgcolor="b6cdac">  <td>24/05/13 22:18:37</td>   <td>-9113</td> <td>&nbsp;</td><td title="&gt;&gt;Post_Testscripts2_priority2.setup()[pri:0, instance:testscripts.Post_Testscripts2_priority2@71075444]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@704106237</td>   <td></td> </tr>
<tr bgcolor="b6cdac">  <td>24/05/13 22:18:37</td>   <td>-9009</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_Testscripts2_priority2.validatepost2()[pri:1, instance:testscripts.Post_Testscripts2_priority2@71075444]">validatepost2</td> 
  <td>main@704106237</td>   <td></td> </tr>
</table>
